.main{
	color:black;
	background-color:rgba(0,0,255,50%); 
	width:270px; 
	height:400px;
	text-align: left; 
	border:2px solid black;  
	font-family:verdana;

} 

.title{
	color:black;
	background-color:gray; 
	width:270px; 
	height:2rem;
	text-align:center; 
	font-size:1.5rem;
} 
.output
{ 
   color:white;
	background-color:black; 
	width:240px; 
	height:5rem;
	text-align: left; 
	border:2px solid white; 
	margin-top:0.5rem;
} 
.row1{
	color:white;
	background-color:rgba(0,0,255,10%); 
	width:270px; 
	height:3rem;
	text-align: left; 
	margin-top:1rem; 
	margin-left:0rem;
}  
.r1c1{
	float:left; 
	width:1.5rem;  
	background-color:gray;
	margin-left:1.5rem; 
	margin-top:0.5rem; 
	padding:0.2rem 1rem; 
	border:2px solid blue;
	
}
